'use strict';

/**
 * Undocumented test
 *{{#if _packageFile.name}}
 * @package {{_packageFile.name}}{{/if}}
 * @author  {{_userName}} <{{_email}}>
 * @since   @next_version@
 */

const assert = require('assert');

describe('{{test_name}}', function() {

    before(() => {
        // runs before all tests in this block
    });

    after(() => {
        // runs after all tests in this block
    });

    beforeEach(() => {
        // runs before each test in this block
    });

    afterEach(() => {
        // runs after each test in this block
    });

    // test cases
    it('Should test ...', () => {
        // Test code
    });

});

