'use strict';

/**
 * Undocumented class
 *{{#if _packageFile.name}}
 * @package {{_packageFile.name}}{{/if}}
 * @author  {{_userName}} <{{_email}}>
 * @since   @next_version@
 */
export default class {{class_name}} {

    constructor() {}

}
