<?php
{{#if namespace}}

namespace {{namespace}};
{{/if}}{{#if uses}}
{{#each uses}}
use {{this}};
{{/each}}{{/if}}
/**
 * Undocumented class
 *{{#if _composerFile.name}}
 * @package    {{_composerFile.name}}{{/if}}
 * @author     {{_userName}} <{{_email}}>{{#if copyright}}
 * @copyright  {{copyright}}{{/if}}
 * @since      @next_version@
 */
class {{class_name}}{{#if extends}} extends {{extends}}{{/if}}
{
{{#each methods}}{{phpMethod this}}{{/each}}
}
