<?php
{{#if namespace}}

namespace {{namespace}};

{{/if}}
/**
 * Undocumented file
 *{{#if _composerFile.name}}
 * @package    {{_composerFile.name}}{{/if}}
 * @author     {{_userName}} <{{_email}}>{{#if copyright}}
 * @copyright  {{copyright}}{{/if}}
 * @since      @next_version@
 */
 {{#if uses}}

{{#each uses}}
use {{this}};
{{/each}}{{/if}}


